body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 15px;                
    margin-top: 5px;          
    padding: 5px 0;
}


.logo {
    padding: 0;
}

.logo img {
    width: 70px;   
}


h1 {
    margin: 0; 
    color: #2c3e50;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    text-align: center;
    background-color: #8aadd1;
    padding: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.navbar a:hover {
    color: #f1c40f;
}
.container {
    display: flex;
    min-height: 65vh;
}
.sidebar {
    width: 25%;
    background-color: #ecf0f1;
    padding: 15px;
}
.content {
    width: 75%;
    padding: 20px;
    background-color: white;
}
